*{
    margin: 0;
   font-family: 'Open Sans', sans-serif;
}
/* header navigation styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    font-size: 18px;
    margin-left: 50px;
}
.nav-title{
   font-weight: 800;
   font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
color: #FFFFFF;
font-weight: 700;
border: 0;
padding: 18px 35px;
font-size: 20px;
height: 64px;
border-radius: 5px;
background: #FD6E0A;
}
.btn-primary:hover{
background-color: brown;
color: aqua;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.my-images{
    width: 650px;
    height: 650px;
    border-radius: 8px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 250px;
}
/* about section styles */
.about{
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.section-title:hover{
    cursor: pointer;
    background-color: #FD6E0A;
    border-radius: 8px;
    padding: 5px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    }
    .about-section{
        display: flex;
        margin-top: 30px;
       gap: 30px;
    }
    .about-info-container{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
    .about .info-title{
    font-size: 20px;
    color: #757575;
    }
    .info-description{
        font-weight: 700;
        font-size: 20px;
        color: #474747;
    }